---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - net-tools
      - apt-transport-https
      - ca-certificates
      - gnupg
      - lsb-release
    state: present

- name: Configure timezone
  timezone:
    name: UTC

- name: Set hostname
  hostname:
    name: "{{ inventory_hostname }}"

