apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: your_dockerhub/backend-app
        env:
        - name: MONGO_URL
          value: mongodb://mongo:27017/appdb
