---
- name: Create namespace
  kubernetes.core.k8s:
    name: movieticket
    api_version: v1
    kind: Namespace
    state: present
  when: "'kubernetes-master' in group_names"

- name: Apply Kubernetes manifests
  kubernetes.core.k8s:
    state: present
    src: "{{ item }}"
    namespace: movieticket
  loop:
    - "{{ playbook_dir }}/../../k8s/namespace.yaml"
    - "{{ playbook_dir }}/../../k8s/configmap.yaml"
    - "{{ playbook_dir }}/../../k8s/secret.yaml"
    - "{{ playbook_dir }}/../../k8s/mongo-statefulset.yaml"
    - "{{ playbook_dir }}/../../k8s/deployment.yaml"
    - "{{ playbook_dir }}/../../k8s/service.yaml"
    - "{{ playbook_dir }}/../../k8s/hpa.yaml"
    - "{{ playbook_dir }}/../../k8s/prometheus-rules.yaml"
  when: "'kubernetes-master' in group_names"

- name: Wait for deployments to be ready
  kubernetes.core.k8s_info:
    kind: Deployment
    name: movieticket-api
    namespace: movieticket
    wait: yes
    wait_condition:
      type: Available
      status: "True"
    wait_timeout: 300
  when: "'kubernetes-master' in group_names"

